{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
    
  ],
  "plugins": [
    "external-helpers",
    "transform-runtime",
    "transform-async-functions",
    "transform-object-rest-spread",
    "babel-plugin-transform-class-properties"
  ]
}
